* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* ******************************************** header *******************************************/

/* ***************menu********** */

.menu {
    list-style: none;
    background-color: black;
    color: white;
    height: 64px;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    font-weight: 600;
}

.acuCesta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #515051;
    border-radius: 50%;
}

.menu>li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}



.menu>li:hover {
    background-color: #515051;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.menu>:nth-child(1):hover {
    background-color: black;
    padding: 0;
    font-size: 25px;
}

.menu>ul li:nth-child(2) {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515051;
    border-radius: 4px;
}

.menu li:nth-child(1) {
    font-size: 23.4628px;
}

.phone {
    display: flex;
    gap: 5px;
}


/************* el mejor cafe **********/


.mejor-cafe {
    padding: 48px 40px;
    display: flex;
    justify-content: space-between;
}

.mejor-cafe>div {
    width: 580px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.mejor-cafe>img {
    width: 700px;
    height: 450px;
}

.mejor-cafe>div>h3 {
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.mejor-cafe>div>h1 {
    font-size: 40px;
    font-weight: 600;
}

.mejor-cafe>div>p {
    font-size: 14px;
    font-weight: 400;
}

.mejor-cafe div * {
    margin-bottom: 15px;
}

.black>a,
.green>a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.black {
    background-color: #1F1815;
    padding: 12px 24px;
    border-radius: 4px;
}

.green {
    background-color: #2A5B45;
    padding: 12px 24px;
    margin-left: 15px;
    border-radius: 4px;
}




/* ******************************************** body *******************************************/


/************* cafe con mejores condiciones **********/

.mejores-condiciones {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 48px 147px;
    background-image: url("../img/cafeDeFondo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;

}

.mejores-condiciones>h2 {
    color: white;
}

.cards {
    display: flex;
    gap: 30px;
}

.cards>div {
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: white;
    text-align: center;
    border-radius: 8px;
    padding: 24px;
    width: 316px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #2A5B45;
    border-radius: 20px;
}


/************* novedades **********/

.novedades {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 48px 147px;
}

.novedades>h2 {
    color: #2A5B45;
}

.novedades>a {
    color: black;
    font-weight: 600;
}

.card-sacos {
    display: flex;
    gap: 30px;
}

.sacos {
    width: 282px;
    height: 391.39px;
    border: solid #E3DED7 1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sacos>h3 {
    font-size: 14px;
    font-weight: 600;
}

.sacos>button {
    color: white;
    background-color: rgba(42, 91, 69, 0.7);
    padding: 8px;
    border-radius: 4px;
    font-weight: 600;
}

.sacos>button:hover {
    cursor: pointer;
}

.sacos:hover {
    background-color: #E3DED7;
}

.novedades>p>a {
    color: black;
    font-weight: 700;
}



/************* Preguntas frecuentes **********/


.questions {
    background-color: #2A5B45;
    padding: 48px 386px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.questions>h2 {
    color: white;
}

.questions>p>a {
    color: white;
    font-weight: 600;
}

.querys {
    width: 600px;
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.querys>h3 {
    display: flex;
    justify-content: space-between;
    color: #2B2A2B;
    font-weight: 600;
}

.querys>p {
    padding-top: 16px;
    border-top: 1px solid #E3DED7;
    font-size: 12px;
    font-weight: 400px;
    color: #2B2A2B;
}




/************* Coffee shop **********/

.coffee-shop {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffee-shop>div {
    width: 457px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.coffee-shop>div>h2 {
    color: #2A5B45;
}

.coffee-shop>div>p:nth-child(2) {
    font-size: 14px;
}

.coffee-shop>div>p:nth-child(3)>a {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.coffee-shop>img {
    width: 725px;
    height: 450px;
}



/************* Entra en contacto con nosotros **********/

.contactUs {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(227, 222, 215, 1)
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 100px 40px;
    width: 590px;
}

.contact h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact>p {
    font-weight: 400px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #6B7280;
}

.address {
    font-weight: 400px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #6B7280;
}

.details {
    font-weight: 400px;
    font-size: 14px;
    color: #6B7280;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.details p {
    display: flex;
    gap: 12px;
}

.contact :nth-child(6)>a {
    color: black;
    font-weight: 600;
}






/* form */

.contactUs>form {
    background-color: white;
    width: 590px;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.contactUs>form input[type="text"] {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    height: 34px;
}

.contactUs>form textarea {
    margin: 20px 0px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    height: 110px;
    padding: 20px;
}

.contactUs>form>div>select {
    border: hidden;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    height: 34px;
}

.contactUs>form>div>input {
    width: 544px
}

.contactUs>form>label {
    font-size: 12px;
    font-weight: 400;
    color: #374151;
}

.terminos {
    font-size: 14px;
    color: #374151;
}

.terminos a {
    color: #374151;
    font-weight: 600;
}

.contactUs>form input[type="submit"] {
    margin-top: 20px;
    width: 100px;
    padding: 10px 20px;
    background-color: #2A5B45;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}

.terminos>input {
    border: solid 1px #D1D5DB;
}



/* ******************************** footer ********************** */
.footer {
    background-color: #1F1815;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer h2 {
    font-weight: 400;
    font-size: 23px;
    margin: 30px 0px 0px 40px;
}

.footer h2>a {
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.footer h2>a:hover {
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.footer>:nth-child(2) {
    margin: 0px 0px 20px 40px;
    display: flex;
    align-items: flex-start;
    gap: 360px;
}


.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.help>p {
    background-color: #515051;
    display: flex;
    gap: 10px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


.others-links {
    height: 150px;
    width: 470px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.others-links>li>a {
    text-decoration: none;
    color: white;
}

.others-links>li>a:hover {
    text-decoration: underline;
}

.footer> :nth-child(3) {
    background-color: #2B2A2B;
    padding: 15px;
    text-align: center;
}